---
import WikiLayout from '../../layouts/WikiLayout.astro';
---
<WikiLayout title="Dagger Stances" section="stances">
  <div class="wiki-content">
    <h1>Dagger Stances</h1>
    <div class="stub-notice">Dagger stance data will be added as the game develops.</div>
    <p>Back to <a href="/stances">All Stances</a> | See also: <a href="/weapons">Weapons</a></p>
  </div>
</WikiLayout>
